
/* ------------ * VARIABLES * ------------ */

:root {

    /* ------------ * Color * ------------ */
    --peach_med: #ffd7b5;
    --peach_med: #ffd7ba;
    --coral_lt: #fa9570;
}


/* ------------ * GENERAL * ------------ */
* {
    box-sizing: border-box;
}

html, body, [id=root] {
    height: 100%;
}

body {
    background: var(--peach_med);
    font-family: "Nunito", sans-serif;
    background-image: url(/public/assets/pattern/tbox_wallp_line_coral.png);
    background-repeat: repeat;
    background-size: auto;
}

main, footer, nav {
    background: antiquewhite;
}

[id=root] {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


/* ------------ * COLOR * ------------ */

.bg_peachmed {
    background-color: var(--peach_med);
}

.peachmed {
    color: var(--peach_med);
}

.coral {
    color: #ff7f50;  
}

.coral_lt {
    color: var(--coral_lt);
}

.bg_coral_lt {
    background: var(--coral_lt);
}

.ant_white {
    color: antiquewhite;
}

.hov-white:hover {
    color: coral;
}


/* ------------ * TEXT * ------------ */

p {
    line-height: 20px;
}

small {
    margin-bottom: 15px;
}


/* ------------ * FORM * ------------ */

.form_container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 3rem;
    background: var(--coral_lt);
}

.form_data {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    max-width: 500px;
    min-width: 325px;
}


.form_data article {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    border-color: #6B7280;
    border-width: 1px;
}

label {
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
}


/* ------------ * BUTTONS * ------------ */

.cust_button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0;
    padding: 1rem 1.5rem;
    align-self: center;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.75;
    font-size: .875rem;
    text-transform: uppercase;
        
    &.modal_button {
        color: antiquewhite;
        border: 2px solid antiquewhite;
        max-width: 100%;
    }
}

.cust_button > span {
    padding: 0;
}

.cust_button:hover {
    cursor: pointer;
    background: black;
    color: antiquewhite;

    &.modal_button:hover {
        background: antiquewhite;
        color: black;
    }
}


/* ------------ * MODAL (svg not picking up inline style otherwise) * ------------ */

[id="modal"] svg {
    color: black;
}

[id="modal"] button:hover {
    background-color: black;
        & svg {
            color: white;
        }
}